body {
    background-color:lightsteelblue;
}
.board { 
    border: 1px solid black; 
    display:flex; 
    flex-wrap:wrap; 
    height:552px; 
    width:660px; 
    background:blue;
    justify-content: center;
} 
.board div {
    height:80px; 
    width:80px; 
    margin:5px;
    border: 1px solid black;
    border-radius:40px 
 }
.square{ 
    background: lightsteelblue; 
} 
.p1 {
    background: red;
}
.p2 {
    background: yellow;
}
.p1hover {
    background:  lightcoral;
}
.p2hover {
    background: rgb(250, 250, 138);
}
.pTurnResetRow {
    display: flex;
    width:662px; 
    height: 80px;
    justify-content:right;
}
h1 {
    flex-grow: 1;
    font-size: 44px;
    
}
.reset {
    flex-grow: 1;
    font-size: 40px;
    padding: 16px 24px;
    border-radius: 10%;
    border: 2px solid black;
    background-color: lightblue;
}
.message {
    display: flex;
    width:662px; 
    height: 80px;
    font-size: 80px;
}
.p1message {
    text-shadow: 2px 2px 5px red;
}
.p2message {
    text-shadow: 2px 2px 5px yellow;
}